[submodule "main/lib/lvgl"]
	path = main/lib/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "components/totp"]
	path = components/totp
	url = git@github.com:huming2207/esp-totp.git
[submodule "components/fp1020a"]
	path = components/fp1020a
	url = git@github.com:huming2207/esp-fp1020a.git
[submodule "components/starry_net"]
	path = components/starry_net
	url = git@github.com:huming2207/StarryNet.git
